@model Course

@using Microsoft.AspNetCore.Identity
@using Moodle_v1.Areas.Identity.Data

@inject UserManager<ApplicationUser> UserManager

<h2>@Model.Title</h2>
<p>Credits: @Model.NoCredits</p>
@* <p>
    <strong>Main Professor:</strong>
    @if (Model.Main?.ApplicationUser != null)
    {
        @($"{Model.Main.ApplicationUser.FirstName} {Model.Main.ApplicationUser.LastName}")
    }
    else
    {
        <span>-</span>
    }
</p>
<p>
    <strong>Assistant Professor:</strong>
    @if (Model.Assistant?.ApplicationUser != null)
    {
        @($"{Model.Assistant.ApplicationUser.FirstName} {Model.Assistant.ApplicationUser.LastName}")
    }
    else
    {
        <span>-</span>
    }
</p> *@

@if (User.IsInRole("Student"))
{
    <p>
        <strong>Your Grade:</strong>
        @if (ViewBag.Grade != null)
        {
            @ViewBag.Grade
        }
        else
        {
            <span>Not graded yet</span>
        }
    </p>
}

@if (Model.Announcements != null && Model.Announcements.Any())
{
    <h3>Announcements:</h3>
    foreach (var announcement in Model.Announcements.OrderByDescending(a => a.PostedAt))
    {
        <div class="announcement">
            <h4>@announcement.Title</h4>
            <p>
                By @announcement.Professor.ApplicationUser.FirstName @announcement.Professor.ApplicationUser.LastName
                on @announcement.PostedAt
            </p>
            <p>@announcement.Body</p>
        </div>
    }
}
else
{
    <p>No announcements for this course.</p>
}


@if (User.IsInRole("Profesor") &&
   ((Model.Main != null && Model.Main.ApplicationUserId == UserManager.GetUserId(User)) ||
    (Model.Assistant != null && Model.Assistant.ApplicationUserId == UserManager.GetUserId(User))))
{
    <a asp-controller="Professor" asp-action="CreateAnnouncement" asp-route-courseId="@Model.Id" class="btn btn-warning">
        Create Announcement
    </a>
}

@if (User.IsInRole("Profesor") && Model.Main != null && Model.Main.ApplicationUserId == UserManager.GetUserId(User))
{
    <a asp-controller="Professor" asp-action="GradeStudents" asp-route-courseId="@Model.Id" class="btn btn-success">
        Grade Students
    </a>
}
