@model List<Course>

@{
    ViewData["Title"] = "Home Page";
}

@using Microsoft.AspNetCore.Identity
@using Moodle_v1.Areas.Identity.Data;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>User Id : @ViewData["UserID"]</p>
</div>

@if(User.IsInRole("Admin"))
{
    <h1>Hi, Admin!</h1>
    <a asp-action="AssignStudents" class="btn btn-primary">Assign Students to Course</a>
    <a asp-action="AssignTeachers" class="btn btn-primary">Assign Teachers to Course</a>
    <a asp-action="AddCourse" class="btn btn-primary">Create Course</a>
    <a asp-action="AssignRole" class="btn btn-primary">Assign Role to User</a>
}

@if(User.IsInRole("Secretar"))
{
    <h1>Hi, Secretar!</h1>
    <a asp-controller="Secretary" asp-action="StudentGrades" class="btn btn-primary">View All Student Grades</a>
    <a asp-controller="Chat" asp-action="Index" class="btn btn-info">Open Chat</a>

}

@if (User.IsInRole("Student"))
{
    <h1>Hi, Student!</h1>

    <div>
        <a asp-action="IndexSorted" asp-route-sortOrder="@ViewData["CurrentSort"]" class="btn btn-primary">
            Sort by Name (@(ViewData["CurrentSort"] == "asc" ? "Ascending" : "Descending"))
        </a>
    </div>
    
    @foreach (var course in Model)
    {
        <section id="news" class="mybox">
            <a asp-area="" asp-controller="Home" asp-action="CoursePage" asp-route-id="@course.Id">@course.Title</a>
            <p>
                Credits: @course.NoCredits
            </p>
            <p>
                Main Professor:
                @if (course.Main?.ApplicationUser != null)
                {
                    @($"{course.Main.ApplicationUser.FirstName} {course.Main.ApplicationUser.LastName}")
                }
                else
                {
                    <span>-</span>
                }
            </p>
            <p>
                Assistant Professor:
                @if (course.Assistant?.ApplicationUser != null)
                {
                    @($"{course.Assistant.ApplicationUser.FirstName} {course.Assistant.ApplicationUser.LastName}")
                }
                else
                {
                    <span>-</span>
                }
            </p>
        </section>
    }
}

@if (User.IsInRole("Profesor"))
{
    <h1>Hi, Profesor!</h1>

    <a asp-controller="Chat" asp-action="Index" class="btn btn-info">Open Chat</a>

    @if (Model != null && Model.Any())
    {
        @foreach (var course in Model)
        {
            <section id="news" class="mybox">
                <a asp-area="" asp-controller="Home" asp-action="CoursePage" asp-route-id="@course.Id">@course.Title</a>
                <p>
                    Credits: @course.NoCredits
                </p>
                <p>
                    Main Professor:
                    @if (course.Main?.ApplicationUser != null)
                    {
                        @($"{course.Main.ApplicationUser.FirstName} {course.Main.ApplicationUser.LastName}")
                    }
                    else
                    {
                        <span>-</span>
                    }
                </p>
                <p>
                    Assistant Professor:
                    @if (course.Assistant?.ApplicationUser != null)
                    {
                        @($"{course.Assistant.ApplicationUser.FirstName} {course.Assistant.ApplicationUser.LastName}")
                    }
                    else
                    {
                        <span>-</span>
                    }
                </p>
            </section>
        }
    }
    else
    {
        <p>You are not assigned to any courses.</p>
    }
}



